## Вот и первая домашка! :)

Воспользуемся датасетом про цены на дома в Бостоне. Небольшая расшифровка:

* `crim` – уровень преступности на душу населения по городам;
* `zn` – доля земли под жилую застройку, зонированная под участки площадью более 25000 кв. футов;
* `indus` – доля акров, не связанных с розничной торговлей на город;
* `chas` – дамми (бинарная) переменная Charles River (= 1, если участок ограничивает реку; 0 иначе);
* `nox` – концентрация оксидов азота (частей на 10 млн);
* `rm` – среднее количество комнат в доме;
* `age` – доля занятых владельцами единиц, построенных до 1940 года;
* `dis` – средневзвешенное расстояние до пяти бостонских центров занятости;
* `rad` – индекс доступности радиальных автомобильных дорог;
* `tax` – полная ставка налога на имущество за \$ 10,000;
* `ptratio` – соотношение учеников на учителя по городам;
* `black` 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town (количество чернокожего населения... никогда не замечала этой колонки пока не засела переводить);
* `lstat` – более низкий статус населения (в процентах);
* `medv` – медианная стоимость домов, занимаемых владельцами, в \$1000.

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('boston_data.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.15876,0.0,10.81,0.0,0.413,5.961,17.5,5.2873,4.0,305.0,19.2,376.94,9.88,21.7
1,0.10328,25.0,5.13,0.0,0.453,5.927,47.2,6.9320,8.0,284.0,19.7,396.90,9.22,19.6
2,0.34940,0.0,9.90,0.0,0.544,5.972,76.7,3.1025,4.0,304.0,18.4,396.24,9.97,20.3
3,2.73397,0.0,19.58,0.0,0.871,5.597,94.9,1.5257,5.0,403.0,14.7,351.85,21.45,15.4
4,0.04337,21.0,5.64,0.0,0.439,6.115,63.0,6.8147,4.0,243.0,16.8,393.97,9.43,20.5

## Задание 1

Посмотрите на переменные, которые содержатся в датасете и определите их тип: 
1. числовые (иначе называются количественные) 
2. качественные порядковые 
3. качественные номинальные. 

Распределите все переменные на эти 3 категории.

## Задание 2

Посчитайте все пройденные нами описательные статистики для переменной `medv` (среднее, медиану, моду, стандартное отклонение, дисперсию, квартили, максимум, минимум, размах и межквартильное расстояние). Прокомметируйте полученные результаты, посмотрите, насколько близко находятся медиана и среднее. 

**Бонус:** Постройте гистограмму для данной переменной и прокомментриуйте ее (как выглядит полученный график? Полученные столбики примерно равны по высоте (то есть распределены равномерно) или их высота варьируется? где у него находятся самые высокие столбики, а где, наоборот, наблюдаются низкие значения?)

## Задание 3

Посчитайте следующие описательные статистики: среднее, медиану, моду, стандартное отклонение, дисперсию для переменной `chas`. Внимательно прокомментрийте полученные результаты. Можем ли мы в этом случае интерпретировать значения медианы и среднего так же, как делали в пункте 3 домашнего задания? Если нет, аргументируйте свой ответ.

## Задание 4

Выберите еще одну любую переменную из датасета и посчитайте для нее описательные статистики из задания 2.